@import "./config";
html {
  background: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  padding-left: 2rem;
  padding-top: 10px;
  height: 50px;
  background: linear-gradient(rgba(black, 0.6), rgba(black, 0));
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
}
.bakery-app {
  margin-top: 10%;
  width: 100%;
}
.test-btn {
  position: fixed;
  bottom: 2rem;
}

@keyframes test-animacija {
  from {
    transform: translateX(30rem);
  }
  to {
    transform: translateX(0);
  }
}
.animation {
  animation: test-animacija 2s;
}
